// @import url('/css/styles.css');

@primary-color: #f86942;
@primary-color-darker: #f63e0c;
@primary-color-faded: rgba(248, 105, 66, 0.3);

@btn-primary-color: #fff;
@btn-primary-bg: @primary-color-darker;

@border-radius-base: 2px;
@divider-color: @primary-color-faded;
// Layout
@layout-body-background: #f0f2f5;
@layout-header-background: #000; //#001529;
@layout-header-height: 72px;
@layout-header-padding: 0 0px;
@layout-header-color: @text-color;
@layout-footer-padding: 24px 50px;
@layout-footer-background: @layout-header-background;
@layout-sider-background: @layout-header-background;
@layout-trigger-height: 48px;
@layout-trigger-background: #002140;
@layout-trigger-color: #fff;
@layout-zero-trigger-width: 36px;
@layout-zero-trigger-height: 42px;
// Layout light theme
@layout-sider-background-light: #fff;
@layout-trigger-background-light: #fff;
@layout-trigger-color-light: @text-color;

// Steps
// ---
@process-tail-color: @primary-color-faded;

// Alerts
@info-color: @blue-6;