// @import url('/css/styles.css');

@primary-color: #1fa4d1;
@primary-color-darker: #1fa4d1;

@btn-primary-color: #fff;
@btn-primary-bg: @primary-color-darker;

@layout-header-height: 72px;
// @layout-header-background: @white;
@layout-header-padding: 0 0px;
@layout-header-color: @text-color;

@border-radius-base: 2px;